body, html{
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  /* Image by SushiBay */
  background-image: url('images/wallpaper.jpg');
  background-position: center;
  background-size: cover;
}
